
p{
    line-height: 1.5;
}

a{
    text-decoration: none;
    color:black;
}
a:hover{
    text-decoration: underline;
}


section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section-heading{
    font-size: 32px;
    font-family: 'Roboto Condensed',sans-serif;
    border-left:3px solid black;
    border-right: 3px solid black;
    transition: all 0.4s;
    display: inline-block;
    padding:4px 32px;
}

.section-heading:hover{
    color:white;
    background: black; 
}

/* Section Source */

#section-arabanner p{
    padding:8px;
    text-align: center;
}

#section-arabanner a{
    margin:8px;
    text-align: center;
}


.btn-hemenara{
    padding:8px 24px;
    border:3px solid black;
    transition: 0.4s;
    display: inline-block;
    margin-bottom: 24px;
    margin-left: 24px;
    font-weight: bold;
    cursor:pointer;
    background: white;
    
}


.btn-hemenara:hover{
    background: black;
    text-decoration: none;
    color:white;
}

.arabanner{
    background: url("../3.png");
    height: 150px;
    position: fixed;
    bottom: 3rem;
    width: 100%;
    align-content: center;
    text-align: center;
    margin: 0;
}
.arabanner p{
    font-weight: 100;
    font-size: 0.8rem;
}

@media(max-width:719px){
 

    section{
        flex-direction: column;
    }


 
}


@media(max-width:600px){
 

   



    .arabanner{
        text-align:center;
    }

   
}

@media(min-width:720px){
  
    .arabanner {
        width:90%;
    }
    .arabanner .arabanner-image img{
        width: 90%;
    }
}

@media(min-widht:1200px){
    
}
